## Deliverable 2. Create a Customer Travel Destinations Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. NEED TO FIX PATH LATER
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,NaN,RU,71.6872,128.8694,-7.31,94,70,7.16,NaN
1,1,NaN,CL,-53.1500,-70.9167,46.51,87,75,16.11,NaN
2,2,NaN,AU,-33.6500,115.3333,64.26,73,76,15.46,NaN
3,3,NaN,PG,-2.0226,147.2712,84.83,72,80,9.31,NaN
4,4,NaN,CL,-37.6167,-73.6500,50.22,82,21,3.20,NaN

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,NaN,PG,-2.0226,147.2712,84.83,72,80,9.31,NaN
7,7,NaN,TO,-21.2000,-175.2000,84.36,74,20,8.05,NaN
8,8,NaN,KI,3.0707,172.7902,80.47,81,98,13.09,NaN
13,13,NaN,PW,7.0419,134.2556,82.90,79,100,19.55,NaN
15,15,NaN,ID,-6.8844,112.2051,82.26,76,66,6.49,NaN
22,22,NaN,SS,4.7717,33.5903,83.43,38,86,15.86,NaN
24,24,NaN,SB,-10.4544,161.9205,84.70,70,91,8.19,NaN
28,28,NaN,AU,-25.2406,130.9889,84.04,17,0,9.22,NaN
34,34,NaN,US,21.3469,-158.0858,80.92,56,0,17.27,NaN
46,46,NaN,AU,-17.0000,145.4333,89.44,62,37,6.29,NaN

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                199
City                   171
Country                199
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Current Description    138
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
419,419,lorengau,PG,-2.0226,147.2712,84.83,72,80,9.31,broken clouds
423,423,vaini,TO,-21.2000,-175.2000,84.36,79,40,8.05,scattered clouds
424,424,butaritari,KI,3.0707,172.7902,80.47,81,98,13.09,moderate rain
429,429,kloulklubed,PW,7.0419,134.2556,82.90,79,100,19.55,overcast clouds
431,431,labuhan,ID,-6.8844,112.2051,82.26,76,66,6.49,broken clouds
...,...,...,...,...,...,...,...,...,...,...
1175,1175,sri aman,MY,1.2376,111.4621,82.45,83,20,3.44,few clouds
1180,1180,lotofaga,WS,-13.9764,-171.8578,83.14,73,29,9.80,scattered clouds
1187,1187,moerai,PF,-22.4333,-151.3333,81.84,75,37,12.30,scattered clouds
1192,1192,lashio,MM,22.9333,97.7500,84.07,33,5,3.40,clear sky
1206,1206,san rafael del sur,NI,11.8485,-86.4384,85.17,49,49,18.03,scattered clouds

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
419,lorengau,PG,84.83,broken clouds,-2.0226,147.2712,
423,vaini,TO,84.36,scattered clouds,-21.2000,-175.2000,
424,butaritari,KI,80.47,moderate rain,3.0707,172.7902,
429,kloulklubed,PW,82.90,overcast clouds,7.0419,134.2556,
431,labuhan,ID,82.26,broken clouds,-6.8844,112.2051,
438,kapoeta,SS,83.43,overcast clouds,4.7717,33.5903,
440,kirakira,SB,84.70,overcast clouds,-10.4544,161.9205,
444,yulara,AU,89.44,clear sky,-25.2406,130.9889,
450,makakilo city,US,82.72,scattered clouds,21.3469,-158.0858,
462,mareeba,AU,85.44,scattered clouds,-17.0000,145.4333,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
419,lorengau,PG,84.83,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
423,vaini,TO,84.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
424,butaritari,KI,80.47,moderate rain,3.0707,172.7902,Isles Sunset Lodge
429,kloulklubed,PW,82.90,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
431,labuhan,ID,82.26,broken clouds,-6.8844,112.2051,DoubleFAG
...,...,...,...,...,...,...,...
1175,sri aman,MY,82.45,few clouds,1.2376,111.4621,Seri Simanggang Hotel
1180,lotofaga,WS,83.14,scattered clouds,-13.9764,-171.8578,Sataoa Beach Fales
1187,moerai,PF,81.84,scattered clouds,-22.4333,-151.3333,Le Manotel
1192,lashio,MM,84.07,clear sky,22.9333,97.7500,Hotel CF Lashio - Burmese Only
1206,san rafael del sur,NI,85.17,scattered clouds,11.8485,-86.4384,Hospedaje El Chino

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
curr_desc = hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))